In [1]:
import pandas as pd
import numpy as np

In [2]:
_Spring202003 = "Resources/2020_Spring/202003-citibike-tripdata.csv"
_Spring202004 = "Resources/2020_Spring/202004-citibike-tripdata.csv"
_Spring202005 = "Resources/2020_Spring/202005-citibike-tripdata.csv"

In [3]:
Spring202003_df = pd.read_csv(_Spring202003)
Spring202004_df = pd.read_csv(_Spring202004)
Spring202005_df = pd.read_csv(_Spring202005)

In [4]:
Spring202003_df.insert(loc=0, column='date', value=202003)

In [5]:
Spring202004_df.insert(loc=0, column='date', value=202004)

In [6]:
Spring202005_df.insert(loc=0, column='date', value=202005)

In [7]:
# append csvs

merge_Spring2020 = pd.concat([Spring202003_df, Spring202004_df, Spring202005_df])
Spring2020 = merge_Spring2020.drop(columns=['starttime', 'stoptime', "start station id", "end station id", "bikeid"])
Spring2020.head()

,date,tripduration,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,usertype,birth year,gender
0,202003,1589,Spruce St & Nassau St,40.711464,-74.005524,Prospect Pl & Underhill Ave,40.676969,-73.965790,Subscriber,1980,1
1,202003,389,Lafayette St & E 8 St,40.730207,-73.991026,W 13 St & 7 Ave,40.737815,-73.999947,Subscriber,1991,2
2,202003,614,W 31 St & 7 Ave,40.749156,-73.991600,W 43 St & 10 Ave,40.760094,-73.994618,Subscriber,1991,1
3,202003,597,Perry St & Greenwich Ave,40.735918,-74.000939,E 19 St & 3 Ave,40.736245,-73.984738,Subscriber,1989,1
4,202003,1920,St Marks Pl & 2 Ave,40.728419,-73.987140,46 Ave & 5 St,40.747310,-73.954510,Subscriber,1993,1

In [8]:
Spring2020.dropna(inplace = True )

In [9]:
Spring2020['gender'] = np.where(Spring2020['gender']==0,"Other",(np.where(Spring2020['gender']==1,"Male","Female")))

Spring2020.head()

,date,tripduration,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,usertype,birth year,gender
0,202003,1589,Spruce St & Nassau St,40.711464,-74.005524,Prospect Pl & Underhill Ave,40.676969,-73.965790,Subscriber,1980,Male
1,202003,389,Lafayette St & E 8 St,40.730207,-73.991026,W 13 St & 7 Ave,40.737815,-73.999947,Subscriber,1991,Female
2,202003,614,W 31 St & 7 Ave,40.749156,-73.991600,W 43 St & 10 Ave,40.760094,-73.994618,Subscriber,1991,Male
3,202003,597,Perry St & Greenwich Ave,40.735918,-74.000939,E 19 St & 3 Ave,40.736245,-73.984738,Subscriber,1989,Male
4,202003,1920,St Marks Pl & 2 Ave,40.728419,-73.987140,46 Ave & 5 St,40.747310,-73.954510,Subscriber,1993,Male

In [10]:
Spring2020['gender'] = Spring2020['gender'].apply(str)
Spring2020.dtypes

date                         int64
tripduration                 int64
start station name          object
start station latitude     float64
start station longitude    float64
end station name            object
end station latitude       float64
end station longitude      float64
usertype                    object
birth year                   int64
gender                      object
dtype: object

In [11]:
Spring2020.head()

,date,tripduration,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,usertype,birth year,gender
0,202003,1589,Spruce St & Nassau St,40.711464,-74.005524,Prospect Pl & Underhill Ave,40.676969,-73.965790,Subscriber,1980,Male
1,202003,389,Lafayette St & E 8 St,40.730207,-73.991026,W 13 St & 7 Ave,40.737815,-73.999947,Subscriber,1991,Female
2,202003,614,W 31 St & 7 Ave,40.749156,-73.991600,W 43 St & 10 Ave,40.760094,-73.994618,Subscriber,1991,Male
3,202003,597,Perry St & Greenwich Ave,40.735918,-74.000939,E 19 St & 3 Ave,40.736245,-73.984738,Subscriber,1989,Male
4,202003,1920,St Marks Pl & 2 Ave,40.728419,-73.987140,46 Ave & 5 St,40.747310,-73.954510,Subscriber,1993,Male

In [12]:
Spring2020.to_csv('Resources/Spring2020.csv', index=False)